{% extends 'store/base.html' %} 
{% load static %}
{% block content %} `
<h1>Profile............Balance :- {{profile_balance.balance}}</h1>
<div class="content-section">
   <div class="media">
      <div class="media-body">
         <h5 class="account-heading">{{user.username}}</h5>
         <p class="text-secondary">{{user.email}}</p>

         {{form.as_p }}
         <a href = "{% url 'update-address'  %}">Update Address</a> 
        

        {% if user_detail%}
         <a href = "{% url 'update-balance' %}">Update Balance</a>
         {% else%}
         <a href = "{% url 'add-balance'%}">Add balance</a>
         {% endif %} 
       
        
      </div>
   </div>

<h2>Your previous orders</h2>
  {% for order_qs in total_orders %}
  <li class="list-group-item d-flex justify-content-between lh-sm">
   <div>
     <h6 class="my-0"> {{order_qs.ordered_date}} </h6>
   </div>
     
   <small class="text-muted">{{order_qs.get_num_of_cart_items}}</small>
   <span class="text-muted">{{order_qs.get_total_price_of_cart}}</span>

     {% for order_item in order_qs.return_order_items %}
     <small class="text-muted">Title:- {{order_item.item.title}}</small>
     
     {% if user.review %}
       <h6>You already have a review</h6>
     {% else%}
     <a href = "{% url 'write-review' order_item.get_product_slug%}">Write Review</a>
     {%endif%}

     <small class="text-muted">Quantity:- {{order_item.quantity}}</small>
     
     {% endfor %}

 </li>

  {% endfor %}

</div>
{% endblock content%}